<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>We UA</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="header_uper">
			<div>
				<span class="We_UA">We UA</span>
			</div>
			<div class="menu">
				<nav>
					<ul>
						<li>HOME</li>
						<li>ABOUT</li>
						<li>CONTACTS</li>
						<li>ACOUNT</li>
					</ul>
				</nav>
			</div>
		</div>
		<span class="text">Example Text 2</span>
		<div class="button_center"><a class="button">ADD DOCUMENTS</a></div>
	</header>
	<div class="block_benefits">
		<div class="blochok"></div>
		<span class="text_benefits">Наші переваги</span>
	</div>
	
	<div class="trigers">
		<div class="speeder">
			<img src="img/clock.png" width="50" height="50">
			<span>За допомогою сайту, ви маєте доступ до документів  у будь-якому місці</span>
		</div>
		<div class="confidation">
			<img src="img/lock.png" width="50" height="50">
			<span>Наш сайт забезпечує збереження даних і конфедійне користування</span>
		</div>
		<div class="easy_use">
			<img src="img/hand.png" width="50" height="50">
			<span>Сайт дає змогу вам, легко та зручно використовувати документи.</span>
		</div>
	</div>






	<script href="js/"></script>
</body>
</html>